@import "bootstrap";
@import "bootstrap-responsive";

.dropdown-menu{
	background-color: #000000;
	li{
		.forgotpassword{
			display: inline-block;
			padding:0px;
			margin:5px 5px 0px 5px;
			white-space:normal;
			color:inherit;
			width:40%;
			vertical-align: middle;
			text-align: center;
			&:hover{
				background-color:transparent;
				background-image:none;
			};
		}
		input {
			margin:10px 10px 0px 10px;
		}
	}

}