<div class = "navbar">
	<div class = "navbar-inverse">
		<div class = "navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        	<span class="icon-bar"></span>
		    	    <span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
				</a>
				<%= link_to "Social Investing", root_path, :class =>"brand"%>
				<div class="nav-collapse collapse">
					 <% if user_signed_in? %>
						<%= render 'layouts/signed_in_header_links'%>
					<%else%>
						<%= render 'layouts/not_signed_in_header_links'%>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>